In [1]:
# 2006 survey is in slightly different format than 2014 - change

In [2]:
import h5py
import pandas as pd

In [70]:
survey06 = h5py.File(r'C:\daysim_comparison\survey_2006.h5')
# h5file = h5py.File(r'C:\Users\Brice\surveys\survey14.h5')

In [233]:
h5file= survey06

expwt_dict = {'Trip':'trexpfac',
             'Tour':'toexpfac',
             'Household':'hhexpfac',
              'HouseholdDay':'hdexpfac',
             'Person':'psexpfac',
             'PersonDay':'pdexpfac'}

group_dict={
            'hday': 'HouseholdDay',
            'hrec': 'Household',
            'pday': 'PersonDay',
            'prec': 'Person',
            'tour': 'Tour',
            'trip': 'Trip'
        }

# results h5 file
f = h5py.File('C:\Users\Brice\Desktop\survey06_31.h5', 'w')

h5_dict = {}
for table in h5file.keys():
    df = pd.DataFrame()
    for field in h5file[table].keys():
        df[field] = h5file[table][field][:]
        
#         if field in list of time fields to update
        if field in ['tlvorig','tardest','tlvdest','tarorig',
                    'deptm','arrtm','endacttm']:
            print field
            df.ix[df[field]<100,'hour'] = int(0)
            df.ix[df[field]<100,'minute'] = df.ix[df[field]<100,field].astype('int')
            
            df.fillna(-99,inplace=True)
            
            df.ix[df[field]>=100,'hour'] = df.ix[df[field]>=100,'hour'].apply(lambda row: str(row)[:len(str(row))-2])
            df.ix[df[field]>=100,'min'] = df.ix[df[field]>=100,'hour'].apply(lambda row: str(row)[-2:])
#             df['min'] = df[field].apply(lambda row: str(row)[-2:])
            # replace values
            df[field] = df['hour'].astype('int')*60 + df['min'].astype('int')
            
            df.drop(['hour','min'],axis=1,inplace=True)
            
#             str_value = time.iloc[0].values[0].astype('str')
#             hour_col =  str_value[:len(str_value)-2]
#             min_col = str_value[-2:]
#             mam = int(hour_col)*60 + int(min_col)
#             mam
        
    h5_dict[table] = df
    
    # Write results to new h5 container
    grp = f.create_group(table)
    
    for column in df.columns:
        if column in ['travdist','travcost','travtime','trexpfac',
        'tautotime','tautocost','tautodist','toexpfac','hdexpfac'
        'pwautime','pwaudist', 'psautime','psaudist','psexpfac',
        'pdexpfac', 'hhexpfac'
        ]:  
            grp.create_dataset(column, data=list(df[column].astype('float64')))
        else:
            grp.create_dataset(column, data=list(df[column].astype('int32')))
            
f.close()

tardest

ValueError: cannot convert float NaN to integer

In [220]:
df

,arrtm,dadtyp,day,deptm,dorp,dpcl,dpurp,dtaz,endacttm,half,...,otaz,pathtype,pno,tour,travcost,travdist,travtime,trexpfac,tseg,tsvid
0,746,6,1,435,1,-1,10,-1,747,1,...,1309,0,1,1,-1,-1.00,-1.00,162.430,1,2
1,818,2,1,467,1,147857,1,515,1657,1,...,-1,1,1,1,-1,-1.00,-1.00,162.430,2,2
2,1730,6,1,1017,1,-1,10,-1,1731,2,...,515,1,1,1,-1,-1.00,-1.00,162.430,1,3
3,1804,1,1,1051,1,46929,0,1309,717,2,...,-1,0,1,1,-1,-1.00,-1.00,162.430,2,3
4,747,6,2,437,1,-1,10,-1,748,1,...,1309,0,1,1,-1,-1.00,-1.00,162.430,1,4
5,818,2,2,468,1,147857,1,515,1700,1,...,-1,1,1,1,-1,-1.00,-1.00,162.430,2,4
6,1734,6,2,1020,1,-1,10,-1,1735,2,...,515,1,1,1,-1,-1.00,-1.00,162.430,1,5
7,1808,4,2,1055,1,245381,5,1307,1921,2,...,-1,0,1,1,-1,-1.00,-1.00,162.430,2,5
8,1925,1,2,1161,1,46929,0,1309,300,2,...,1307,0,1,1,0,1.15,6.43,233.540,3,6
9,1215,4,1,720,1,459379,4,912,1315,1,...,916,0,2,1,0,1.42,10.74,215.875,1,1
10,1330,1,1,795,1,462748,0,916,1315,2,...,912,0,2,1,0,1.42,10.47,217.800,1,2
11,1350,4,2,795,1,502861,9,626,1430,1,...,916,0,2,1,0,12.24,34.33,205.615,1,3
12,1515,1,2,870,1,462748,0,916,300,2,...,626,0,2,1,0,11.23,30.93,207.005,1,4
13,1200,4,1,690,1,218348,4,1336,1230,1,...,916,0,3,1,0,5.81,22.76,178.380,1,1
14,1300,1,1,750,1,462748,0,916,30,2,...,1336,0,3,1,0,6.28,25.02,178.380,1,2
15,1040,2,1,621,1,181158,1,1616,1822,1,...,318,0,1,1,0,13.73,34.61,49.650,1,1
16,1852,4,1,1102,1,326867,5,273,1907,2,...,1616,0,1,1,0,12.62,37.15,50.930,1,2
17,1915,1,1,1147,1,147174,0,318,1010,2,...,273,0,1,1,0,1.41,9.00,52.410,2,3
18,1036,2,2,610,1,181158,1,1616,1759,1,...,318,0,1,1,0,13.73,34.61,49.990,1,4
19,1810,4,2,1079,1,109170,4,1630,1951,2,...,1616,0,1,1,0,2.07,8.56,54.725,1,5
20,2012,1,2,1191,1,147174,0,318,300,2,...,1630,0,1,1,0,13.35,40.22,52.080,2,6
21,1205,4,1,721,1,956519,4,2599,1230,1,...,2603,0,1,1,0,0.82,5.35,117.315,1,1
22,1235,1,1,750,1,988551,0,2603,830,2,...,2599,0,1,1,0,0.82,5.14,117.730,1,2
23,845,4,2,510,1,1016754,5,2650,930,1,...,2603,0,1,2,0,3.76,15.64,119.120,1,3
24,945,1,2,570,1,988551,0,2603,1115,2,...,2650,0,1,2,0,3.78,12.52,119.630,1,4
25,1140,4,2,675,1,983134,3,2634,1205,1,...,2603,0,1,1,0,5.57,23.29,117.925,1,5
26,1208,4,2,725,1,983453,7,2636,1535,2,...,2634,0,1,1,0,0.33,5.21,141.610,1,6
27,1538,4,2,935,1,983134,7,2634,1545,2,...,2636,0,1,1,0,0.33,5.75,141.610,2,7
28,1601,1,2,945,1,988551,0,2603,1937,2,...,2634,0,1,1,0,5.46,22.87,118.365,3,8
29,1945,4,2,1177,1,976967,7,2618,1946,1,...,2603,0,1,3,0,2.14,9.78,128.430,1,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74737,1720,1,1,1008,1,438110,0,1396,1820,2,...,-1,0,1,1,-1,-1.00,-1.00,240.650,2,2
74738,1857,4,1,1100,1,93474,7,378,2145,1,...,1396,0,1,2,0,16.31,50.14,246.810,1,3
74739,2210,1,1,1305,1,438110,0,1396,715,2,...,378,0,1,2,0,17.58,40.16,254.920,1,4
74740,745,6,2,435,1,-1,10,-1,746,1,...,1396,0,1,1,-1,-1.00,-1.00,240.650,1,5
74741,815,2,2,466,1,147856,1,515,1615,1,...,-1,3,1,1,-1,-1.00,-1.00,240.650,2,5
74742,1647,6,2,975,1,-1,10,-1,1648,2,...,515,3,1,1,-1,-1.00,-1.00,240.650,1,6
74743,1720,1,2,1008,1,438110,0,1396,1840,2,...,-1,0,1,1,-1,-1.00,-1.00,240.650,2,6
74744,1920,4,2,1120,1,386207,7,565,2215,1,...,1396,0,1,2,0,14.83,44.74,251.405,1,7
74745,2240,1,2,1335,1,438110,0,1396,300,2,...,565,0,1,2,0,14.69,37.89,265.605,1,8
74746,937,2,1,555,1,407141,1,1613,1755,1,...,1590,0,1,1,0,5.62,13.32,226.530,1,1
74747,1820,1,1,1075,1,95300,0,1590,927,2,...,1613,0,1,1,0,5.24,14.94,226.685,1,2
74748,950,2,2,567,1,407141,1,1613,1430,1,...,1590,0,1,1,0,5.62,13.32,228.765,1,3
74749,1445,4,2,870,1,218922,5,1557,1515,2,...,1613,0,1,1,0,4.23,14.27,244.025,1,4
74750,1530,2,2,915,1,407141,1,1613,1805,2,...,1557,0,1,1,0,4.02,11.14,244.025,2,5
74751,1825,1,2,1085,1,95300,0,1590,1900,2,...,1613,0,1,1,0,5.24,14.94,229.055,3,6
74752,1912,4,2,1140,3,110384,5,1548,1945,1,...,1590,0,1,2,0,0.98,7.41,254.635,1,7
74753,1957,1,2,1185,3,95300,0,1590,300,2,...,1548,0,1,2,0,0.97,6.76,256.245,1,8
74754,800,4,1,465,1,449,6,922,805,1,...,1204,0,1,1,0,15.43,44.11,157.070,1,1
74755,807,2,1,485,1,702,1,922,1120,1,...,922,0,1,1,0,0.35,3.39,179.010,2,2
74756,1130,1,1,680,1,96209,0,1204,1700,2,...,922,0,1,1,0,15.55,32.96,154.800,1,3
74757,1710,4,1,1020,1,226851,4,1225,1720,1,...,1204,0,1,2,0,3.57,13.84,159.415,1,4
74758,1721,4,1,1040,1,226851,5,1225,1725,1,...,1225,0,1,2,0,0.25,2.98,210.510,2,5
74759,1728,4,1,1045,1,226762,5,1224,1740,1,...,1225,0,1,2,0,0.55,3.72,182.680,3,6
74760,1754,1,1,1060,1,96209,0,1204,300,2,...,1224,0,1,2,0,3.62,12.96,159.870,1,7
74761,655,2,1,390,1,148106,1,573,1730,1,...,1431,0,1,1,0,15.72,36.42,141.590,1,1
74762,1810,1,1,1050,1,23691,0,1431,635,2,...,573,0,1,1,0,15.90,29.86,141.645,1,2
74763,710,2,2,395,1,148106,1,573,1530,1,...,1431,0,1,1,0,15.72,36.42,142.330,1,3
74764,1600,1,2,930,1,23691,0,1431,1830,2,...,573,0,1,1,0,15.90,29.86,142.415,1,4
74765,1831,4,2,1110,3,0,6,-1,2230,1,...,1431,0,1,2,-1,-1.00,-1.00,189.405,1,5
74766,2231,1,2,1350,3,23691,0,1431,300,2,...,-1,0,1,2,-1,-1.00,-1.00,248.295,1,6

In [136]:
# df[df[['tlvdest']] == '']
df['']

0     1
1     2
2     1
3     1
4     2
5     1
6     2
7     1
8     1
9     1
10    2
11    2
12    2
13    2
14    2
...
26817    2
26818    2
26819    2
26820    1
26821    1
26822    2
26823    2
26824    1
26825    2
26826    2
26827    1
26828    1
26829    1
26830    2
26831    2
Name: day, Length: 26832, dtype: int32

In [183]:
f = h5py.File('C:\Users\Brice\Desktop\survey06_3.h5', 'r')
df = pd.DataFrame(f['Tour']['tlvorig'][:])
df['tlvorig'] = df[0]

In [184]:
df
df['hour'] = df[field].apply(lambda row: str(row)[:len(str(row))-2])
# df['min'] = df[field].apply(lambda row: str(row)[-2:]).astype('int')

In [187]:

df[df['tlvorig']<100]

        0  tlvorig hour  minute
651    19       19    0      19
654    19       19    0      19
978     1        1    0       1
2891    0        0    0       0
7404   25       25    0      25
7593   30       30    0      30
10526  30       30    0      30
10528  30       30    0      30
13654   1        1    0       1
22623   4        4    0       4
26415   0        0    0       0

In [154]:
df.groupby('hour').count()

         0  tlvorig   min
hour
        11       11    11
10    1469     1469  1469
11    1261     1261  1261
12    1237     1237  1237
13    1019     1019  1019
14    1150     1150  1150
15    1157     1157  1157
16    1206     1206  1206
17    1423     1423  1423
18    1589     1589  1589
19     798      798   798
20     343      343   343
21     125      125   125
22      46       46    46
23      28       28    28
3       62       62    62
4      264      264   264
5     1022     1022  1022
6     2469     2469  2469
7     4095     4095  4095
8     3990     3990  3990
9     2068     2068  2068

In [32]:
time = pd.DataFrame(survey06['Tour']['tlvorig'][:]])

In [42]:
time.iloc[0].values[0].astype('str')[-2:]

'15'

435